.contact-container {

    display: flex;
    width: 100%;
    padding: 12px 24px 12px 24px;

    position: relative;

    .image-container {
        margin-right: 16px;
    }

    .name-container {
        p {
            margin: 0;
        }
    }

    .icon-container {

        // position: absolute;

        // right: 0;

        // top: 50%;
        // transform: translate(-50%, -50%);

        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            padding: 10px;
            margin-left: 2px;
            margin-right: 2px;
        }

        img:hover {
            cursor: pointer;

            background: $gray80;
            border-radius: 8px;

        }
        
        img:hover {
            cursor: pointer;
        }
    }
}