//fonts
@font-face {
    font-family: 'glysa';
    src: local('glysa'), url(../fonts/Glysa.otf) format('opentype');
}

//lexend
@font-face {
    font-family: 'lexend';
    src: local('lexend'), url(../fonts/LexendDeca-VariableFont_wght.ttf) format('truetype');
}

//global variables

//colors
$gray100: #141414;
$gray90: #191919;
$gray80: #1E1E1E;
$gray70: #232323;
$gray60: #282828;
$gray50: #2D2D2D;
$gray40: #323232;
$gray30: #373737;
$gray20: #3C3C3C;
$gray10: #414141;

//fonts
$font-glysa: "glysa", sans-serif;
$font-lexend: "lexend", sans-serif;



// global designs
.headline-1 {
    font-family: $font-glysa;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;  
    letter-spacing: 0;
}

.headline-2 {
    font-family: $font-glysa;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
}

.headline-3 {
    font-family: $font-lexend;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    letter-spacing: 0.01em;
}

.body-text {
    font-family: $font-lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.icon-secondary {
    font-family: $font-lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: 0.01em;

    /* Text & Icon / Secondary */
    color: rgba(255, 255, 255, 0.56);
}

.message-text {
    font-family: $font-lexend;
    font-style: normal;
    font-weight: 400; 
    font-size: 12px;
    line-height: 16px;    
    letter-spacing: 0.01em;
}

//avatar
.profile-picture {
    object-fit: cover;
    width: 88px;
    height: 88px;
    border-radius: 50px;
}

.profile-picture-small {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}


//buttons
.primary-button {
    border: none;
    background: $gray60;
    border-radius: 8px;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px 8px 12px;

    font-family: $font-lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    img {
        margin-right: 12px;
    }
}

.primary-button-gradiant {
    color:white;
         
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px 8px 12px;
    gap: 8px;
    
    width: 120px;
    height: 40px;
    
    background: linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, $gray60 100%), $gray100;
    border: 0  ;

    border-radius: 1000px;

    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, $gray60 100%), $gray100;
    }

    &:active {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, $gray60   100%), $gray100;
    }
}

.secondary-button {
    color: white;
    border: none;
    padding: 8px 16px;
    gap: 8px;
    background: $gray60;
    border-radius: 8px;

    &:hover {
        background: $gray50;
    }
    
    &:focus {
        background: $gray40;
    }
}

.secondary-button-dark {
    color: white;
    border: none;
    padding: 8px 16px;
    gap: 8px;
    background: $gray100;
    border-radius: 8px;

    &:hover {
        background: $gray90;

    }

    &:focus {
        background: $gray80;

    }
}

.small-button {
    border: none;
    padding: 8px;
    border-radius: 8px;
    background: $gray60;

    &:hover {
        background: $gray50;
    }

    &:active {
        background: $gray40;
    }
}

.small-button-dark {
    border: none;
    padding: 8px;
    border-radius: 8px;
    background: $gray100;

    &:hover {
        background: $gray90;
    }

    &:active {
        background: $gray80;
    }
}

 
//base css
html, body {
    background-color: $gray100;
    color: white;
}

//inputs
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    label {
        font-family: $font-lexend;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */

        letter-spacing: 0.01em;

        /* Text & Icon / Secondary */

        color: rgba(255, 255, 255, 0.56);
    }

    input { 
        width: 100%;
        margin-bottom: 24px;

        padding: 8px 12px;
        gap: 8px;

        /* Grey / G 80 */
        background:  $gray80;
        /* Grey / G 60 */

        border: 1px solid  $gray60;
        border-radius: 8px !important; //TODO:
        color: white;
  
        &:focus {
            outline: none;
            background: $gray60;
            border: 1px solid $gray10;
        }
    }
}
